@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(90deg, #4884EE, #06BCFB);
}

.content{
    height: 100vh;
}

.form-check-input:checked{
    background: #4884EE;
    border-color: #4884EE;
}

.btn-dark{
    background: #4884EE !important; 
}

.fa{
    padding: 11px;
    width: 38px;
    text-align: center;
    text-decoration: none;
    margin: 1px 3px;
    border-radius: 50%;
}

.fa-facebook{
    background: #3B5998;
    color: #fff;
}

.fa-twitter{
    background: #55acee;
    color: #fff;
}

.fa-google{
    background: #dd4b39;
    color: #fff;
}